
.top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  
.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8d3b6;
    border-radius: 10px;
    padding: 15px;
  }

.back {
  font-family: "Noto Sans", sans-serif;
  width: 83px;
  height: 42px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 40px;
  border: 1px #bf9563;
  background-color: #bf9563;
  transition: all 300ms ease-out;
  }

  .back:hover{
  width: 85px;
  height: 44px;
  background-color: #BF7B63;
  
  }
  .back:hover{
    width: 85px;
    height: 44px;
    background-color: #BF7B63;
    }

.center {
    font-size: 30px;
    color: #9e9e9e;   
}

